<?xml version="1.0"?>

<model>
  <name>Velodyne HDL-32 Xiang</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Optional: Yusheng Xiang</name>
    <email>Optional: Yusheng Xiang</email>
  </author>

  <description>
    A model of a Velodyne HDL-32 LiDAR sensor.
  </description>

</model>

